page-blog {

      div.blog {
    
            font-size: 12px;
            background-color: white;
            text-align: center;
            top: 0px;
            margin:0px;  
            //padding: 0px 30px 30px 30px;    
            border-width: 2px;
            border-bottom-width:2px;
            border-bottom-color:black;
            border-bottom-style: solid;
            width: 100%;
            // font-size-adjust: 0.58;
            
         }

         div.title {

            font-size: 15px;
            background-color: white;
            text-align: center;
            color: darkblue;
            top: 0px;
            margin:0px;  
            width: 100%;
         }
    
}
